/* 全局样式 */
html,body,#app{
    height: 100%;
    margin: 0;
    padding:0;
    background-color: white;
}
/* 面包屑样式 */
.el-breadcrumb{
    margin-bottom: 15px;
    font-size: 18px;
}
/* 卡片区域 */
.el-card{
    box-shadow: 0 1px 1px rgba(0, 8, 10, 0.15) !important;
}

/* 表格样式 */
.el-table {
    margin-top: 15px;
    font-size: 12px;
    min-width: 350px;
}

/* 分页组件 */
.el-pagination {
    margin-top: 10px;
    text-align: right;
}

/* 对话框透明度 */
.el-dialog {
    opacity: 0.9;
}

/* 默认不显示手机端markdown */
.phone-md {
    display: none !important;
}

.main-card {
    min-height: 566px;
}


/* 适应手机端 */

/* 消息框 */
@media screen and (max-width: 500px) {
    .el-message {
        min-width: 80% !important;
    }
    .el-message__content {
        font-size: 5px !important;
    }
}

/* 提示框 */
@media screen and (max-width: 500px) {
    .el-message-box{
        width: 80% !important;
    }
    .el-dialog {
        width: 90% !important;
    }
}


/* 面包屑样式 */
@media screen and (max-width: 500px) {
    .el-breadcrumb{
        margin-bottom: 5px !important;
        font-size: 5px !important;
    }
}

/* 编辑器 */
@media screen and (max-width: 500px) {
    .phone-md {
        display: block !important;
    }
    .pc-md {
        display: none !important;
    }
}